body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('earth.jpg') no-repeat center;
    background-size: cover;
    animation: circularBackgroundScroll 30s linear infinite;
}

@keyframes circularBackgroundScroll {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

.countdown-container {
    text-align: center;
    padding: 20px;
    width: 300px; /* Set width to define size */
    height: 300px; /* Set height equal to width for perfect circle */
    display: flex; /* Center the content inside */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

.timer {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
}

.input-container {
    margin-top: 40px;
   
}

input[type="tel"] {
    padding: 20px;
    font-size: 1.2em;
    margin-right: 10px;
    width: 80px;
    height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 40px;

}

button:hover {
    background-color: #218838;
}

.alert {
    color: red;
    margin-top: 20px;
}
